<%- include('partials/_header') -%>
<%- include('partials/_barra') -%>

    <div class="taller" style="display: flex; justify-content: center; margin-left: 80px; margin-top: 50px; background-color: rgba(173, 173, 173, 0.878);">
        
        <img src="img/santos1.jpg" alt=""/>
        <p class="fs-1" style="text-align: center; line-height: 300%;">
            Hemos atendido a más de 3000 clientes a lo largo de nuestra trayectoria,
            todos ellos completamente satisfechos con nuestros trabajos.
        </p>
        
    </div>
    
    <div class="taller1 mb-5" style="display: flex; justify-content: center; margin-right: 80px;">
      <div style="padding-left: 100px; background-color: rgba(173, 173, 173, 0.878); min-height: 100%;">
        <p class="fs-1 mh-100" style="line-height: 300%; text-align: center;">
          Somos expertos en lo que hacemos, su vehículo esta en las mejores manos.
        </p>
      </div>
      <img src="img/santos2.jpg" alt="" style="width: 800px; height: 500px" />
    </div>


    <%- include('partials/_footer') -%>