#cuadroMiCuenta {
    display: flex;
    color: white;
 
}

#datosMiCuenta{
   border-left: 2px white solid;
   padding: 5%;
   width: 70%;
   text-align: center;
}

#botonMiCuenta {
    border: 2px white solid;
}

#barraMiCuenta > a{
    color: white;
    
}
#barraMiCuenta{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#linkBarraMiCuenta:hover{
    border-bottom: 2px white solid;
}