<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/img/logo.png" alt="" width="8%">
        <a class="navbar-brand" href="/"><h2>ServiExpress</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/servicio">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Cuenta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Mi Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/cerrarsesion">Cerrar sesion</a></li>
            </ul>
          </li>

          <!--Validacion de usuario admin-->
          <% if (username == 'admin') { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Administrador
            </a>  
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/crudUsuarios">Administrar usuarios</a></li>
              <li><a class="dropdown-item" href="/admin/crudServicios">Administrar Servicios</a></li>
            </ul>
            
          </li>
          <% } %>
          </ul>
      </div>
    </div>
  </nav>