<div id="footer" class="d-flex felx-column">
    <div class="links row">
        <div class="col d-flex justify-content-around">
            <div class="d-flex">
                <div class="cont">
                    <h1>TIENDA </h1>
                    <p>Quienes Somos</p>
                    <p>Nuestros servicios</p>
                    <p>Despachos</p>
                    <p>Cambios y Devoluciones</p>
                    <p><a href="https://www.youtube.com/AJ8oficial" >Contacto</a></p>
                    <p>Términos del servicio</p>
                    <p>Política de reembolso</p>
                </div>
                <div class="cont">
                    <h1>Contactos:</h1>
                    <p>contacto@serviexpress.cl</p>
                    <p>Políticas de privacidad</p>
                    <p>Términos y condiciones</p>
                </div>
            </div>
    
            <div class="footer_logos">
                <div class="logos">
                    <img src="/img/nissan.png.png" alt="">
                    <img src="/img/subaru.png.png" alt="">
                    <img src="/img/kawa.png.png" alt="">
                </div>
            </div>

            <div class="webpay">
                <img src="/img/webpay.png" alt="webpay" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="derechos row">
        <div class="col mt-5">
            <p class="text-center">© Copyright 2022 LOS DE LA 1D | Todos los Derechos Reservados a ServiExpress.</p>
        </div>
    </div>
    
</div>

</body>

</html>